{% extends "App1/padre.html" %}
{% load static %}
{% block contenidoQueCambia %}

{% if miFormulario.errors %} 
<p style="color: red;">Estan mal los datos, revisar</p>
{% endif %}

<div style="display: flex; justify-content: center; align-items: center; min-height: 20vh;">
    <form action="" method="post">{% csrf_token %}
        <h3 style="text-align: center;">Formulario - Agregar entregable</h3>
        <table>
            {{ miFormulario.as_table }}
        </table>
        <input type="submit" value="Enviar"style="margin-top: 20px;">
    </form>
</div>

{% endblock %}