{% extends "App1/padre.html" %}
{% load static %}


{% block contenidoQueCambia %}
<div style="display: flex; justify-content: center; align-items: center; min-height: 10vh;">
    <h3 style="text-align: center;">Listado de estudiantes:</h3>
</div>
    {% if estudiantes %} 
    <table style="border-collapse: collapse; margin: 0 auto; font-size: 1.2em;">
        <thead>
            <tr>
                <th style="border: 1px solid black; padding: 5px; text-align: center;">ID</th>
                <th style="border: 1px solid black; padding: 5px; text-align: center;">Nombre</th>
                <th style="border: 1px solid black; padding: 5px; text-align: center;">Apellido</th>
                <th style="border: 1px solid black; padding: 5px; text-align: center;">Email</th>
            </tr>
        </thead>
        <tbody>
            {% for estudiante in estudiantes %} 
                <tr>
                    <td style="border: 1px solid black; padding: 5px; text-align: center;">{{estudiante.id}}</td>
                    <td style="border: 1px solid black; padding: 5px; text-align: center;">{{estudiante.nombre}}</td>
                    <td style="border: 1px solid black; padding: 5px; text-align: center;">{{estudiante.apellido}}</td>
                    <td style="border: 1px solid black; padding: 5px; text-align: center;">{{estudiante.email}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
        <p style="display: flex; justify-content: center; align-items: center; min-height: 10vh; font-size: 1.2em">No se encontraron estudiantes.</p>
    {% endif %}
</div>

{% endblock %}
